<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hello 
  </p>
  <p>
    Please find the requested report as attachment with this email.
  </p>
  
  <p>
    Best Regards, <br /><br />
    Ravi
  </p>
  <p>
    --------------------
    <br />
    Ravi Belani <br />
    <%= mail_to "ravi.belani@gmail.com" %> <br />
    415-309-8860 <br />
    @rbelani <br />
    Fenwick and West Lecturer of Entrepreneurship, Stanford University <br />
    Director, Alchemist Accelerator  <br />
    Need a Co-Founder? Check out <a href="http://www.foundershookup.com">foundershookup.com</a> <br />
  </p>
 </body>
</html>